body, html, .main{
   height: 100%;
   width: 100%;
}
body, html{
   margin: 0;
   background-color: #e0e0e0;
   font-family: 'Ubuntu', sans-serif;

}


header{
   background-color: rosybrown;
   display: flex;
   top: 0;
   justify-content: space-between;
   align-items: center;
   position: sticky;
   width: 100%;
  
   
}

footer{
   background-color: rosybrown;
   height: 60px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   bottom:0;
   position:fixed;
   width:100%;
   
}

.socialmedia{
   height: 20px;
   width: 22px;
   
} 
.social{
    margin-right:2%;
}
#logo{
   height: 60px;
   width: 60px;
   margin-left:1%;   
}
a{
   text-decoration: none;
   color: black;
}

#name{
   float:right;
   margin-right: 30px;
}
.contact{
    margin-left:2%;
}
.copyright {
   font-size: 10px;
   margin: auto;
   text-align: center;
}