
.image{
    height: 150px;
    width: 150px;
}

body{
    margin: 0px;
    background-color: #e0e0e0;
}

#image1{
    background-color:rgb(132,136,139);
    width: 40%;
    margin: 2%;
}
#image2{
    background-color:rgb(132,136,139);
    width: 40%;
    margin: 2%;
}
#image3{
    background-color:rgb(132,136,139);
    width: 40%;
    margin: 2%;
}