
.image{
    height: 500px;
    width: 500px;
    
}
.container{
    background-color: rgb(132,136,139);
    width: 50%;
    height: 20%;
    margin-top: 2%;
    margin-bottom: 2%;
    margin: auto;
   
}

.name{
    margin: 2%;
}
.tariff{
    margin:2%;
    border: 1px solid black;
    border-radius: 5px;
    padding: 1% 2%;
}
.content{
    padding-top:4em;
    padding-bottom: 4em;
}
.pay{
    padding-bottom: 2em;
    
}